/** BACKGROUNDS **/
.red-bg {
  background: #e96656;
}
.green-bg {
  background: #34d293;
}
.blue-bg {
  background: #3ab0e2;
}
.yellow-bg {
  background: #E7AC44;
}
.dark-bg {
  background: #404040;
}
.white-bg {
  background:  #FFFFFF;
}

/** FOR TEXTS AND ICON FONTS **/
.red-text {
  color: #990000;
}
.green-text {
  color: #009900;
}
.blue-text {
  color: #000099;
}
.yellow-text {
  color: #f7d861;
}
.dark-text {
  color: #404040;
}
.white-text {
  color: #FFFFFF;
}