.focus {
  padding-bottom: 100px;
  overflow: hidden;
  background: #FFFFFF;
}

.focus-box {
  margin-bottom: 75px;
}

.focus-box .service-icon {
  margin-bottom: 30px;
  width: 145px;
  height: 145px;
  margin: auto;
  border-radius: 50%;
  border: 10px solid #ececec;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.red,.green,.blue,.yellow {
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.red:hover .service-icon {
  border: 10px solid #990000;
}

.green:hover .service-icon {
  border: 10px solid #009900;
}

.blue:hover .service-icon {
  border: 10px solid #000099;
}

.yellow:hover .service-icon {
  border: 10px solid #999900;
}

.focus-box h5 {
  margin-bottom: 15px;
  color: #404040;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 17px;
}

.focus-box p {
  font-size: 14px;
}

.other-focuses {
  background: url(/images/lines.png) repeat-x center;
  margin-bottom: 25px;
}

.other-focuses .section-footer-title {
  background: #FFF;
  padding: 0 15px;
  color: #404040;
  font-weight: bold;
}

.other-focus-list {
  padding-top: 5px;
  margin-bottom: -17px;
}

.other-focus-list ul li {
  display: inline-block;
  margin-right: 50px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.other-focus-list ul li:last-child {
  margin-right: 0;
}

.other-focus-list ul li i {
  margin-right: 8px;
}
