footer {
  background: #272727;
}

.company-details {
  color: #939393;
  padding-top: 45px;
  padding-bottom: 30px;
}

.company-details .icon-top {
  font-size: 30px;
  margin-bottom: 10px;
}

.copyright {
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 40px;
  background: #171717;
}

.social li {
  display: inline-block;
  margin: 5px;
}

.social li a {
  color: #939393;
  font-size: 18px;
}

.social li a:hover {
  color: #fff;
}
