.separator-one {
  background: rgba(0, 0, 153, 0.6);
  padding: 100px 0 100px 0;
}
.separator-one .blue-btn {
  background: #0000b3;
}
.separator-one .blue-btn:hover {
  background: #000099;
}
.separator-one .text {
  color: #FFF;
  line-height: 34px;
  padding: 0;
  max-width: 800px;
  margin-bottom: 20px;
}

.separator-two {
  background: rgba(0, 153, 0, 0.6);
  padding: 100px 0 100px 0;
}
.separator-two .blue-btn {
  background: #00b300;
}
.separator-two .blue-btn:hover {
  background: #009900;
}
.separator-two .text {
  color: #FFF;
  line-height: 34px;
  padding: 0;
  max-width: 800px;
  margin-bottom: 20px;
}

.separator-three {
  background: rgba(153, 0, 0, 0.6);
  padding: 100px 0 100px 0;
}
.separator-three .blue-btn {
  background: #b30000;
}
.separator-three .blue-btn:hover {
  background: #990000;
}
.separator-three .text {
  color: #FFF;
  line-height: 34px;
  padding: 0;
  max-width: 800px;
  margin-bottom: 20px;
}

.resume {
  margin: 0 25px;
}